In [46]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv("vine_table.csv")

In [10]:
helpful_df= df[df["total_votes"]>= 20]
helpful_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
73,RL8D0KJ0J9L0O,5,152,165,N,Y
157,R1BEINAIQFBRJC,5,21,23,N,Y
190,R2L59KIJH302P9,4,26,26,N,Y
221,RR99CPG695T0I,5,215,248,N,N
237,R1XQNKKUPCMWVO,5,43,44,N,Y
...,...,...,...,...,...,...
792079,R1HWY1Z29N8XUU,4,29,30,N,N
792086,R1OBNEXHLWO188,5,59,59,N,Y
792091,R3A76JWPT014A,5,31,35,N,N
792101,R15YY6Z5KN7F9,5,44,45,N,N
792108,R1F7BNIK2R72ZC,5,21,21,N,N

In [17]:
vine_df = helpful_df[(helpful_df["helpful_votes"]/helpful_df["total_votes"]>=0.5) & (helpful_df["vine"]=="Y")]
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5408,R2BQOD1R0228FN,3,17,26,Y,N
8246,RC31RUPFOHBHQ,4,102,117,Y,N
12219,REN3N1WITLF1Y,5,33,37,Y,N
13330,R71RZQ9UZVG47,4,38,47,Y,N
16942,R38NMQBH88HLM6,4,18,24,Y,N
...,...,...,...,...,...,...
763326,R2QLL1VI9MRY2W,4,768,783,Y,N
763464,R15S9ONTV908AJ,4,21,24,Y,N
763976,R3E85BMKO2AWUP,4,155,177,Y,N
764209,RGNC5HFA9IZ5V,5,59,63,Y,N
764564,R142W0FDRAM7WE,5,99,111,Y,N

In [23]:
not_vine_df = helpful_df[(helpful_df["helpful_votes"]/helpful_df["total_votes"]>=0.5) & (helpful_df["vine"]=="N")]
not_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
73,RL8D0KJ0J9L0O,5,152,165,N,Y
157,R1BEINAIQFBRJC,5,21,23,N,Y
190,R2L59KIJH302P9,4,26,26,N,Y
221,RR99CPG695T0I,5,215,248,N,N
237,R1XQNKKUPCMWVO,5,43,44,N,Y
...,...,...,...,...,...,...
792079,R1HWY1Z29N8XUU,4,29,30,N,N
792086,R1OBNEXHLWO188,5,59,59,N,Y
792091,R3A76JWPT014A,5,31,35,N,N
792101,R15YY6Z5KN7F9,5,44,45,N,N
792108,R1F7BNIK2R72ZC,5,21,21,N,N

### total number of reviews, the number of 5-star reviews, and the percentage 5-star reviews

In [41]:
five_star_Y=vine_df[vine_df['star_rating']==5]
five_star_Y = five_star_Y['review_id'].count()
five_star_Y

74

In [40]:
five_star_N=not_vine_df[not_vine_df['star_rating']==5]
five_star_N= five_star_N['review_id'].count()
five_star_N

8482

In [36]:
total_reviews_Y = vine_df['review_id'].count()
total_reviews_Y

136

In [37]:
total_reviews_N = not_vine_df['review_id'].count()
total_reviews_N

18019

In [55]:
percentage_five_star_Y = (five_star_Y/total_reviews_Y)*100
percentage_five_star_Y

54.41176470588235

In [44]:
percentage_five_star_N = (five_star_N/total_reviews_N)*100
percentage_five_star_N

47.072534546867196